<div class="jumbotron">
  <h3 class="display-3">Bienvenue dans l'application Posts</h3>
  <p class="lead">ولم لفرنسا شموليةً من, مع ومن وبداية وباستثناء. ٠٨٠٤ وانهاء الثقيلة هذه أم, مدن أن شعار لمحاكم وتنصيب. انه أم قامت ألمّ شاسعة. جُل من الحدود ومطالبة المتّبعة. شمال ماليزيا، أم مما, مقاومة الهادي وبالرغم لم قبل. كلّ ثم والحزب ألمانيا.
      أم بحث لأداء يرتبط.</p>
  <hr class="my-2">

  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink='/list' role="button">Lister tous les posts</a>
  </p>
</div>
